* {
    box-sizing: border-box;
    transition: transform 0.6s;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }

  .columna{
    float: left;
    width: 50%;
    padding: 5px;
    height: 65vh;
  }
  
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 25%;
    perspective: 1000px;
    margin: 10px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.selected .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.5em;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    border: #001333 solid 0.5rem;
  }
  
  .flip-card-front {
    background-color: #00235D;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  #bg-1{
    background-image: url("bgs/1.gif");
  }
  #bg-2{
    background-image: url("bgs/2.gif");
  }
  #bg-3{
    background-image: url("bgs/3.gif");
  }
  #bg-4{
    background-image: url("bgs/4.gif");
  }
  #bg-5{
    background-image: url("bgs/5.gif");
  }
  #bg-6{
    background-image: url("bgs/6.gif");
  }
  #bg-7{
    background-image: url("bgs/7.gif");
  }
  #bg-8{
    background-image: url("bgs/8.gif");
  }

  
  .flip-card-back {
    background-color: green;
    color: white;
    transform: rotateY(180deg);
  }
.answer, .number{
    display: inline-block;
}
.answer{
    width: 69%;
}
.number{
    width: 30%;
}




.crosses{
  top: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}
.crs{
  width: 27%;
  margin: 2rem;
}
.hidden{
  display: none;
}


.score {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  
}
.board{
  flex-grow: 1;
  font-size: 4em;
  font-weight: bold;
  perspective: 1000px;
  text-align: center;
  margin: 10px; 
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/462/322/small/abstract-dark-navy-blue-hexagon-pattern-background-in-3d-style-vector.jpg");
  background-size: cover;
  background-color: #00235D;
  color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border: #001333 solid 0.5rem;
}

.flip-card.empty>.flip-card-inner>.flip-card-front{
  background-image: none !important;
  color: transparent;
  background-color: #001333 !important;
}
